@{
    ViewBag.Title = "Mаълумот";
    Layout = "~/Views/Shared/HomeView.cshtml";
}


<h3 style="text-align:center;">Хурматли мижоз(фойдаланувчи)</h3>

<p style="text-align:center;">Бу сахифага тушишингиз сабаби шундаки, сахифамизга маълумот жойлаш чегараланган.</p>
<p style="text-align:center;">Хар бир фойдаланувчи 2 та маълумот жойлаш имкониятига эга.</p>
<p style="text-align:center;">Хозирда сиз томондан жойлаштирилган 2 та маълумот мавжуд.</p>
<br /><br /><br /><br /><br /><br /><br /><br />