@{
    ViewBag.Title = "Контакт";
    Layout = "~/Views/Shared/HomeView.cshtml";
}

<form action="~/Home/ContactUs" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="well well-sm">
                    <form action="~/Home/ContactUs" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Ф.И.Ш.
                                    </label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Ф.И.Ш." required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="name">
                                        Телефон ракамингиз
                                    </label>
                                    <input type="text" class="form-control" name="phone" id="name" placeholder="Телефон ракамингиз" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Электрон почта
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Электрон почта" required="required" />
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Шикоят ёки таклиф
                                    </label>
                                    <textarea name="message" id="message" name="message" class="form-control" rows="9" cols="25" required="required"
                                              placeholder="Шикоят ёки таклиф"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                    Юбориш
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>

        <div class="col-md-4">
            <form>
                <legend><span class="glyphicon glyphicon-globe"></span> Бизнинг манзил</legend>
                <address>
                    <strong>Тошкент шахар</strong><br>
                    Янусобод тумани<br>
                    ___________________<br>
                    <abbr title="Электрон почта">
                        Электрон почта:
                    </abbr>
                    info@uysavdosi.uz
                </address>
                <address>
                    <a href="~/Home/Index">UySavdosi.uz</a>
                </address>
            </form>
        </div>
    </div>
</div>
